[2017-03-26 07:58] transferplus opened #1 "Directory out of scope"
I'm trying to upload a file with drag drop into a directory outside of this plugin structure.
The file is succefully loaded to 100% , no errors found, however if I look into the directory, there is nothing there.
So my question is: is the file being fisicaly uploaded right after being dragged or is this just happening after submitting the form?

The JSON response is [0] but it does show the file d

[2017-03-27 07:18] s0By opened #2 "Safari"
Don't really understand why the code was removed from git in the first day, but to start off with project issues. In safari uploader doesn't work at all, no animations, no upload, nothing. It did worked before while it was jquery filer, so something apparently changed since that time.

I assume general plugin issues will be always addressed and fixed or they go under '1 year professional support'

[2017-03-27 09:19] innostudio commented on #1
@transferplus I would like to take a look with some screenshots or Teamviewer. If you think you can share me this, please write me an email on contact@innostudio.de.

Please also check before the php files if there the file input name is the same as in the html files.

[2017-03-27 09:20] innostudio commented on #2
@s0By are you testing the Safari Browser on Mac or Windows?

[2017-03-27 09:24] s0By commented on #2
@innostudio On mac

[2017-03-27 09:48] innostudio commented on #2
@s0By Hmm. What kind of Safari version do you have?

[2017-03-27 09:57] s0By commented on #2
@innostudio Version 9.1.2 (11601.7.7) and OS X is El Capitan 10.11.6, the plugin itself sort of works, It doesn't give any errors, it inits, but when you select a file it doesn't do any network requests and doesn't continue.
P.S.
Tested again, drag and drop seems to work, but selecting through browse doesn't.
<img width="1373" alt="screen shot 2017-03-27 at 12 54 04" src="https://cloud.githubuserc

[2017-03-27 09:59] innostudio commented on #2
@s0By I tested it again and it seems to work also through "Browse Files". What about other examples?

[2017-03-27 10:06] s0By commented on #2
@innostudio nope, none of those 3 on the main page seems to work, only with drag and drop. It seems that JS doesn't get that something was selected.
For example, on the second example, with the form. When you select a file it still says "Choose files to upload", while (for example) in mozilla if I select 1 it will upload it and say "1 file was choosen".

But Submit Form button returns in php data

[2017-03-27 10:38] s0By commented on #2
function `getAllEvents`, for some reason the input element doesn't give "on" events in safari, so you don't get "onclick", "onsubmit", etc, which results in empty result array and that is why there's no binding.

[2017-03-27 10:40] innostudio commented on #2
@s0By can you contact me on contact@innostudio.de? I would like to test it too.

[2017-03-27 11:48] innostudio commented on #2
Fixed in Version: 1.0.0.1 (27-Mar-2017)

[2017-03-27 11:48] #2 closed

[2017-03-29 04:44] k3ndion opened #3 "How to upgrate from old version to current version?"

[2017-03-29 09:14] innostudio commented on #3
@k3ndion Hey, to upgrade from jQuery.filer to Fileuploader you will need to check once again the Fileuploader Documentation. If you will show me your jQuery.filer options, maybe I can give you some tips.

[2017-03-29 09:15] #1 closed

[2017-03-29 10:56] #3 closed

[2017-04-01 19:41] sudipt0 opened #4 "reinitialise fileuploader"
How can i reinitialise or reset fileuploader

[2017-04-03 06:45] innostudio commented on #4
@sudipt0 according to [Api Documentation](http://innostudio.de/fileuploader/documentation/#api) you can use the `.reset()` method.

[2017-04-03 06:45] #4 closed

[2017-04-06 10:58] mohamad68 opened #5 "need event"
hi
is any event to trigger  when user add image and showing it's thumbnail ?

[2017-04-06 13:45] CreativeDream commented on #5
@mohamad68 just take a loot at the http://innostudio.de/fileuploader/documentation/#documentation and you will find some.

I think that the options that you need is: `onItemShow `or `onImageLoaded`. Just take a look in the documentation and you will find the description about this callbacks.

[2017-04-06 13:45] innostudio commented on #5
@mohamad68 just take a loot at the http://innostudio.de/fileuploader/documentation/#documentation and you will find some.

I think that the options that you need is: `onItemShow `or `onImageLoaded`. Just take a look in the documentation and you will find the description about this callbacks.

[2017-04-06 13:45] #5 closed

[2017-04-21 11:48] rehanvdm opened #6 "What happend to old repository Issues, and why have a Github page if no code ?"
What happened to old repository Issues, and why have a Github page if no code ?

[2017-04-21 12:41] innostudio commented on #6
@rehanvdm the old version is gone. Github page is for issues and changelogs.

I will post the code here in the future on the Github too.

[2017-04-21 12:41] #6 closed

[2017-04-21 18:06] lenamtl commented on #6
Is there a way to get the old issues?
Maybe from a backup, as there was a lot of useful information and some custom code that may help ..precious information.

Is there a lot of change form previous version or only the name changed?

Thanks

[2017-04-21 19:08] innostudio commented on #6
@lenamtl there are many changes.

You can also find some examples here: https://innostudio.de/fileuploader/documentation/#examples

[2017-04-23 15:07] lenamtl commented on #6
Ok and now it's required a license. You should put the license text on the project page.

Does the previous version will be maintained by someone ?

[2017-04-23 15:14] innostudio commented on #6
@lenamtl maintained? currently not. If is too hard to update to the new version, maybe I could help you. Write me an E-mail and I will take a look at your problem.

[2017-04-23 15:20] lenamtl commented on #6
Ok thanks

[2017-05-23 07:52] s0By opened #7 "beforeSend and remove at uploading stage"
[code]
The example that is provided in documentation doesn't seem to work. It's not even assigning anything to data. If you'll do `item.upload.new_data_attribute = 'nice';` it will be there at uploading stage but won't be transferred to uploaded file.
As a temporary workaround I'm currently assigning attributes in `onSuccess` stage which is not an ideal solution.

Also I have a problem with `onRem

[2017-05-23 13:53] CreativeDream commented on #7
@s0By i've tested with https://innostudio.de/fileuploader/documentation/examples/default-upload/

What example are you using?
Try to use the unminified script and write the exact line of the error

[2017-05-23 13:55] innostudio commented on #7
@s0By i've tested with https://innostudio.de/fileuploader/documentation/examples/default-upload/

What example are you using?
Try to use the unminified script and write the exact line of the error

[2017-05-24 08:13] s0By commented on #7
For the `Illegal invocation` part, I think that was my issue. The problem was with ajax request that is being generated. It tried to pass some data, that didn't exist during upload stage, so I was getting undefined data.

In my use case I'm renaming the file during upload so I don't know the new name of the file until upload is complete. So for my case I had to turn `onRemove` off until the file i

[2017-05-24 08:26] innostudio commented on #7
@s0By I can take a look, but it's oddly that it works in all examples and not working for you. Write me an Email with your Teamviewer authentication details.

[2017-05-29 18:16] shan141 opened #8 "How to show existing uploaded files?"
Hi, I want to show already uploaded files in drag-drop file upload, so that i can edit/update files.
need guidance. I couldn't find way to show existing files in your documentation.

Thanks.

[2017-06-05 09:42] anonfidusa commented on #8
@shan141 I have the same problem toó, you have solved it? i use php

[2017-06-05 16:00] shan141 commented on #8
@anonfidusa  not yet . let me know if you find any way .

[2017-06-11 12:14] szunyi opened #9 "autohide item"
hello,

how can I autohide the uploaded item after X seconds?

thanks!

[2017-06-15 13:04] innostudio opened #10 "Validator issue"
1. Set config extensions ['jpg', 'png'] in Add-More example
2. Go to site with Fileuploader
3. Choose jpg file, pdf file, jpg file, png file
4. All files after pdf file are missing. Something is not working with extensions validator.

[2017-06-15 13:05] innostudio commented on #10
Fixed on 15. June 2017 - v1.0.0.5

[2017-06-15 13:05] #10 closed

[2017-06-15 13:12] innostudio commented on #9
@szunyi using [callbacks](https://innostudio.de/fileuploader/documentation/#documentation)

[2017-06-15 13:12] #9 closed

[2017-06-15 13:15] innostudio commented on #8
@shan141 [Appended Files Example](https://innostudio.de/fileuploader/documentation/examples/appended-files/)

Show existing files by:
- Using `files` config
- Using `data-fileuploader-files` attribute

[2017-06-15 13:15] #8 closed

[2017-06-15 13:15] innostudio commented on #7
No answer.
Closed.

[2017-06-15 13:15] #7 closed

[2017-06-21 07:01] s0By commented on #7
Sorry. Forgot to write. Since I'm manipulating the file on the serverside and changing some properties of it there, `beforeSend` was pretty pointless for me, so even tho it didn't work for me (even if I needed it) I managed to do things with regular ajax request.

[2017-07-03 18:35] Sam-Butler commented on #7
How did you get back the response from the AJAX request?

[2017-07-20 02:37] barrierwings-jay opened #11 "delete doesn't work properly."
Env : Chrome 59

<a class="icon-jfi-trash jFiler-item-trash-action"></a>

I understood this one would delete file not only in HTML view but also file in filelist.

for example, you choose three files and delete one of them. When you submit your form, It should send two Files. But It sends three Files which you select in the first place.

I understood that <input type=files> has filelist type and I

[2017-08-07 12:15] abhishekejam commented on #11
Same issue here

[2017-08-10 13:58] innostudio commented on #11
@barrierwings-jay @abhishekejam the Fileuploader is not able to remove or to add something to `<input type="file">`. Fileuploader is creating a `<input type="hidden">` element where you can find the current list of files.

[2017-08-10 13:58] #11 closed

[2017-08-10 22:51] tdias25 opened #12 "how can i send multiples files at the same time on button click via ajax?"
i'm using the basic implementation, with no autostart and with no ajax, just a regular form and a button, i want to know if its possible to send multiple files with ajax on button click.

[2017-08-11 07:12] innostudio commented on #12
@tdias25 in this case you will need to submit the entire form. Using the basic jQuery.ajax request, you can send the form inputs to the back-end (ex: https://github.com/CreativeDream/jquery.uploader).

[2017-08-11 07:12] #12 closed

[2017-08-11 23:56] tdias25 commented on #12
that's not the same plugin isn't it? and i tried something like that but it came empty

[2017-08-12 00:16] tdias25 commented on #12
or its possible to desactive the "autostart" and then on button click trigger the event and show the progress bar

[2017-08-30 22:06] matdrapeau opened #13 "How to handle CORS"
I have an issue when using the data-fileuploader-files option with a remote image.
I get such error:

`Uncaught DOMException: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported.`

I enabled cross origin on the image server but still having this issue.
Do you have an idea how to solve this?

thanks

[2017-09-01 14:30] innostudio commented on #13
@matdrapeau thank you for reporting it. We know about this issue and we fixed in the [v1.3](https://innostudio.de/fileuploader/documentation#changelog-1.3).

[2017-09-01 14:30] #13 closed

[2017-09-06 14:53] matdrapeau commented on #13
Hello,
We did paid for the license and install the 1.3 version.
Unfortunately, there is still a perpetual loading icon appearing and this message in the debugger:

`Uncaught DOMException: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported.
    at Object.isBlankCanvas (http://localhost:5000/static/js/jquery.fileuploader.min.js:9:40036)
    at h (http://localh

[2017-09-06 15:25] innostudio commented on #13
@matdrapeau as you ca see in the [changelog](https://innostudio.de/fileuploader/documentation#changelog-1.3), we added `item.data.readerCrossOrigin = 'anonymous'` option. That means that your file object should have the following structure:
`{
    name: 'filename1.txt',
    size: 1024,
    type: 'text/plain',
    file: 'uploads/filename1.txt',
    data: {
        readerCrossOrigin = 'anonymous'

[2017-09-06 15:34] matdrapeau commented on #13
@innostudio thanks, that is fixing the loading icon except that the png image is not previewed, it shows a "png" text icon instead.

[2017-09-14 06:35] bipinm25 opened #14 "Cant upload single file using `limit:1` property"
I need to upload only a single file at a time. So i used the limit property (limit:1) .This will select only one file and but when i submitting the form it post null value. How can i over come this issue?. Is there any other method to upload and submit single file.?

[2017-09-18 09:26] #14 closed

[2017-10-02 19:24] philouphil opened #15 "Is it possible to let the user add a caption"
Hello,

I'm discovering your great work and I must say that I'm impressed !

I've just a special need to fill before suscribing the extended license.

I'm using that example https://innostudio.de/fileuploader/documentation/examples/sorter/upload/

In my project, the goal is to let the user create a photo gallery with captions very easily.

So this is what I'd like to have, step by step:
1- the use

[2017-11-20 23:25] tcmartinezmedia opened #16 "Cropping function not working on iPhone"
I seem to have found an issue pertaining to the cropping you can do with the fileuploader. When I tried to use my mobile device which is an iPhone 6, I hand an issue cropping the photo in my form. I wanted to double check to make sure it wasn't from my end and went to your site and tried to crop my photo and still the same thing. It looks like when it crops the picture in the thumbnail rotates and

[2017-11-20 23:28] tcmartinez opened #17 "fileuploader-action-remove not working on iPhone"
When I was testing the fileuploader I found that you could not remove the file on my mobile device which is an iPhone. It works inside of the fileuploader-popup but not on the thumbnails.

[2017-11-23 15:07] #17 closed

[2017-11-23 18:00] meare opened #18 "Respect EXIF Orientation"
It would be really nice if plugin could automatically rotate photos depending on EXIF data

![screen shot 2017-11-23 at 19 57 50](https://user-images.githubusercontent.com/3748248/33185057-bd4ed6bc-d088-11e7-951a-a775a9af9d83.png)

![screen shot 2017-11-23 at 19 58 10](https://user-images.githubusercontent.com/3748248/33185056-bd0e27b6-d088-11e7-8027-d6298eaba0f6.png)

[2017-11-26 23:51] nickdevigns commented on #16
I went on here to see if there was a solution to this as I bought this fileuploader plugin about a month ago to use for an app I'm developing and I can validate that I see the exact same issue you are experiencing when using both the XCode iOS simulator as well when using Safari on an iPhone to visit the site where I host the app and when performing the file upload and cropping the images down, it

[2017-11-29 02:58] nickdevigns commented on #16
Just took a look at your updated comments to see if this only happens with vertical images and I see that it doesn't crop properly with horizontal images as well on an iPhone device or the XCode simulator. I've attached a link to an app that currently under development that is using this plugin to show the various examples, with all the iOS examples giving bad cropping results, see attached screen

[2017-12-01 12:13] s0By opened #19 "Webpack"
Seems that the plugin is not module compatible at the moment.
Isn't really friendly with Webpack, for example.

I managed to make it work a little bit.
`$.fileuploader` and inner stuff (`$.fileuploader.getInstance` for example) are not reachable.

[2017-12-01 18:41] innostudio commented on #19
@s0By is $ jQuery?

[2017-12-01 18:48] innostudio commented on #15
@philouphil yes it is possible. You will need to add the HTML input into the `thumbnails.item` option. The functionality should be done by your own.

[2017-12-01 18:48] #15 closed

[2017-12-01 18:48] s0By commented on #19
Yes.

webpack.config.js

[code]
and entry is
[code]

[2017-12-01 18:51] innostudio commented on #19
@s0By what is the error in the console? `$.fileuploader.getInstance` only this?

[2017-12-01 18:56] s0By commented on #19
Initialization with my config works fine, I see the files. But I have a separate buttons that worked through API before, and those give me `Uncaught TypeError: $.fileuploader.getInstance is not a function`

[2017-12-07 07:43] s0By opened #20 "PopUp container"
I think a user needs to be able to specify a container where popup will appear (same as it's with dragContainer at the moment).

In my case uploader and its container is full of "position: relative" styles so I get an ugly small box (for example)

[2018-01-12 10:10] robnelson opened #21 "Laravel Integration"
Is there a way that this can integrated in to a Laravel application?

[2018-02-22 17:13] SimJoSt opened #22 "frontend validation fails if user removes all async uploaded files"
Our input tag includes a `required` attribute. This makes it possible for frontend validation to fail, if no files have been added/uploaded.
When using the `async` option and enabling `start`, the `required` attribute gets removed by the plugin after the first added/uploaded file. If this file/all files is/are removed by the user, the attribute does not get readded to the input tag, breaking the f

[2018-02-23 17:26] SimJoSt opened #23 "`onComplete` also triggers on errors with async upload"
We use async and automatic upload and wanted to use the `onError` config option to trigger the validation, if a file isn't properly uploaded. It's important, so the customer realizes, that something is wrong more prominently (css adjustments) and is not able to submit the form.
On resolution of these errors (retry/change to correct filesize/...) we want to pass the validation. `onComplete` seemed

[2018-02-26 10:16] innostudio commented on #19
Fixed

[2018-02-26 10:16] #19 closed

[2018-02-26 10:22] innostudio commented on #22
@SimJoSt required attribute is not recommended to be used with the Fileuploader. The Plugin is cloning sometimes the input without required attribute to prevent other issues.

The best practice is to use API methods to get the number of files or to read the hidden Fileuploader's input.

[2018-02-26 10:22] #22 closed

[2018-02-26 10:26] innostudio commented on #23
@SimJoSt onComplete need to be called for both success/error uploads. We would like to keep the same logic as the jQuery does - http://api.jquery.com/jquery.ajax/.

What you need is to use the API method and in a `foreach` to check if all files are uploaded or not - `item.uploaded == true`

[2018-02-26 10:26] #23 closed

[2018-02-26 10:28] innostudio commented on #21
@robnelson currently we don't have any example but we know people that are using it with Laravel.

[2018-02-26 10:28] #21 closed

[2018-02-26 10:36] SimJoSt commented on #22
We currently have a quite simple validation in use and hoped for it to just work, by checking if the hidden Fileuploader's filled. That is most easily done, by setting the required attribute on the input.
But we can make do without.

[2018-02-26 13:51] PouriaSeyfi opened #24 "resize image"
how to resize image before upload

[2018-03-05 04:36] baadhshah opened #25 "How to stop execution after delete or if any error occurred ,it keep going inside 'sorter' on_sort callback"
We have appended files and doing sorting, But When we upload any invalid image or invalid no. of images, then user get error alert,after that, it goes inside onSort callback (Look like a bug) :- Sorting Section Is Given Below :-

'sorter'=> array(
     'onSort'=> "js:function(list, listEl, parentEl, newInputEl, inputEl) {
     updateListingIndex(list);
     }"
     ),
And Remove/delete file sectio

[2018-03-19 13:24] innostudio commented on #24
@PouriaSeyfi check in the zip file the `/examples/image-editor/client-side/` folder.

[2018-03-19 13:24] #24 closed

[2018-03-22 16:58] innostudio commented on #20
@s0By Download the v1.4

[2018-03-22 16:58] #20 closed

[2018-03-22 16:58] innostudio commented on #18
@meare Download the v1.4.

[2018-03-22 16:58] #18 closed

[2018-08-11 02:09] geabenitez opened #26 "Install using Yarn"
It would be reat if I could install it using Yarn as I am managing all my packages that way.

Best regards.

[2018-08-15 07:29] rathod24 opened #27 "Images once sent in AJAX not available on form submit"
I am using an image uploading library innostudio/fileuploader, in which AJAX is necessary for Drag & Drop Feature, now i don't want to upload images on AJAX but for drag & drop i've made random empty function which creates nothing (not uploading an image). I want to upload image on form submit, but the issue is i'm getting $_FILES empty if i uses AJAX, i've tried sending uploaded image in base64 f

[2018-09-21 01:20] jsarkar85 opened #28 "Need to configure with Easy digital download for Frontend Submission form"
I'm Using [EDD](https://easydigitaldownloads.com/) [FES](https://easydigitaldownloads.com/downloads/frontend-submissions/) I need to configure the fileuploader in the vendor submission form but I can't do this. anywone can help me?

Here are some usefull link
https://docs.easydigitaldownloads.com/article/957-frontend-submissions-submission-form
https://docs.easydigitaldownloads.com/article/654-ama

[2018-10-19 12:53] bee-interactive opened #29 "Check image width and height before upload"
Hi!

Because of the lack of capacity of the server in some cases if the user upload an image too large (in pixel size and not in weight), is it possible to restrict the images before uploading them? For example, you can not upload images that are larger than 2000x2000 pixels.

Because if the uploaded file is too big, the server will use too much memory later when handling images (generation of aut

[2018-10-25 10:19] innostudio commented on #29
Hello.

you have to use the `thumbnails.onImageLoaded` option

[code]

[2018-10-25 10:19] #29 closed

[2018-10-25 10:20] innostudio commented on #27
Hello,

in this case I will recommend to use the following example: https://innostudio.de/fileuploader/documentation/examples/drag-drop-form/

[2018-10-25 10:20] #27 closed

[2018-10-25 10:21] innostudio commented on #28
unfortunatelly no, sorry

[2018-10-25 10:23] innostudio commented on #26
we will take a look at Yarn and will get back if to you if we will make the integration.

[2019-02-21 14:27] ionspicica opened #30 "Preloaded files"
Hello. When I use preloaded files everything works fine thumbnails is shown i can edit them delete etc, the problem is that when I try to post the form the files are missing from the parameters

[2019-02-21 14:57] #30 closed

[2019-02-22 21:02] Onore opened #31 "Multilangual support"
Hi.

Do you plan add multilangual support like in jQuery Validation (easy to add new lang and change)?

[2019-03-01 17:58] blackchineykh commented on #30
I'm having the same issue. @ionspicica  @innostudio  was there a solution for this?

[2019-03-01 18:29] ionspicica commented on #30
Hi, unfortunately I didn’t found solution for this issue, but if files are
preloaded they might be already saved. If you make new POST request with
preloaded files then files are already saved and you can get them from db,
if you select new files then you can get them from the request

On Fri, 1 Mar 2019 at 19:58, blackchineykh <notifications@github.com> wrote:

[2019-03-02 11:36] innostudio commented on #31
@Onore you can already change the `captions` option.

We are also planning to translate in other languages so the users could use it directly.

[2019-03-02 11:36] #31 closed

[2019-03-02 11:40] innostudio commented on #30
@blackchineykh @ionspicica while preloading the files and submitting the form, you will get only the list with the file names in $_POST. This list should be merged with the preloaded files on the backend using the option `files` - [Documentation](https://innostudio.de/fileuploader/documentation/#php)

Checkout our example:
https://innostudio.de/fileuploader/documentation/examples/preloaded-files/

[2019-03-04 07:18] ionspicica commented on #30
I use python, how do I get the files in this case

сб, 2 мар. 2019 г. в 13:40, Iulian Galciuc <notifications@github.com>:

[2019-03-04 07:36] tornako opened #32 "Get data-attribute from file"
Hello, how can I get the value of a data-attribute from the input field of the image?

I imagine that with callback features.

`onSelect: function(item) {
  var ep =  $(this).attr("data-ep");
        },`

Thanks!

[2019-03-04 07:41] innostudio commented on #32
@tornako using the following code:

`onSelect: function(item, listEl, parentEl, newInputEl, inputEl) { var ep = inputEl.attr('data-ep'); },`

[2019-03-04 07:41] #32 closed

[2019-03-04 23:26] tornako commented on #32
Thank you very much, it's going great!

[2019-03-06 18:49] ssheth28 opened #33 "Multiple images - crop issue"
I'm trying to upload multiple images (Form submit) with cropping but it is not working for me.
It is working fine when it comes to single file upload.

[2019-03-18 06:40] tornako opened #34 "Translate to different languages"
Where do I put the "Captions" code to have the translation in different languages?

Thank you so much

[2019-03-25 23:57] jonyram1988 opened #35 "I have the question with input hidden fileuploader-list-files"
Hi guys,

How can custom attr value the input hidden fileuploader-list-images with jquery in the success function.

My php file upload image generate json with function php json_encode.

[code]
But with can custom this attr...

![image](https://user-images.githubusercontent.com/3934223/54961728-a23e3d80-4f40-11e9-8295-24ec49c5f559.png)

Regards

[2019-04-01 23:27] #35 closed

[2019-04-10 12:40] innostudio commented on #34
@tornako like this:

[code]

[2019-04-10 12:40] #34 closed

[2019-04-10 12:42] innostudio commented on #33
@ssheth28 are you using this code? https://innostudio.de/fileuploader/documentation/examples/image-editor/default/

[2019-04-12 20:09] innostudio commented on #16
@tcmartinezmedia and @nickdevigns we want to let you know that the issue should be solved in the last version. We are sorry that it took so long time to solve it.

**v2.2** - ([https://innostudio.de/fileuploader/documentation/#changelog](https://innostudio.de/fileuploader/documentation/#changelog))

Please update your Fileuploader.

[2019-04-12 20:09] #16 closed

[2019-04-12 20:10] #33 closed

[2019-04-15 22:19] tornako commented on #34
Thank you, but for a multilanguage? How I put different languages in the same captions? Ex. Catalan, Spanish and English.

Thanks!!

[2019-04-16 10:58] tornako opened #36 "Caption in multiple languages"
Hi, is possible to have the caption for multilanguages? How I put different languages in the same captions? Ex. Catalan, Spanish and English.

(I write a new post because the other is already closed, and so it is visible.)

Thanks!!

[2019-04-17 09:41] innostudio commented on #36
@tornako there is no way to have in the `captions` object different languages at the same time.

[2019-05-10 21:24] innostudio commented on #25
@baadhshah thank you for your report. The issue is fixed now in the last version:
[https://innostudio.de/fileuploader/documentation/#changelog](https://innostudio.de/fileuploader/documentation/#changelog)

[2019-05-10 21:24] #25 closed

[2019-05-20 23:16] Tardencilla opened #37 "Multiple instances"
Hi,

How can I use multiple instances on the same page?

Thanks.

[2019-05-22 15:06] tornako opened #38 "Validate extension"
Hi,

I want to validate the extensions with a function because I have several forms of files and images, and depending on what is used, I must allow one extension or another.

Can you give me an idea of ​​how to do it?

I imagine that with the following:

`
onFilesCheck: function(files, options, listEl, parentEl, newInputEl, inputEl) {

			if(inputEl.attr('data-apt') == 'logotip'){
				alert('form

[2019-05-23 20:57] innostudio commented on #37
@Tardencilla like this:

[code]

[code]

[2019-05-23 20:57] #37 closed

[2019-05-23 21:02] innostudio commented on #38
@tornako we would recommend you the following code:

[code]

[2019-05-23 21:02] #38 closed

[2019-05-29 21:22] tornako commented on #38
Thanks, it's working!

:)

[2019-06-17 05:38] 2MAX-io opened #39 "Upload silently fails on large (>~10MB) image upload"
On Google Chrome, when uploading large file, around 10MB, for example:
https://upload.wikimedia.org/wikipedia/commons/f/ff/Pizigani_1367_Chart_10MB.jpg

using example: examples/image-editor/client-side/

or on home page of this plugin using example of image editor: https://i.imgur.com/Ibw5QZP.png

after adding file like this, file uploader seems to fail silently, it does not display miniature of i

[2019-06-17 05:44] innostudio commented on #39
Hello,

Thank you that you notice this.

By default we have a `reader.maxSize: 9` for the FileReader. Just set it to your fileMaxSize please.

Check the `reader:` option here:
https://innostudio.de/fileuploader/documentation/#options-others

[2019-06-17 05:49] #39 closed

[2019-06-18 16:04] 2maxio opened #40 "PHP file upload backend - issues"
1. constructors do not return in PHP:
[code]

constructors do not return anything in PHP
it should just be like that:

[code]
___________________________

2. binary safe reading of files:

[code]

it should be changed to:
`$sp = fopen($file['tmp_name'], 'rb');`
by adding "b" flag for fopen mode, as php documentation suggests: https://www.php.net/manual/en/function.fopen.php

3. code should not cou

[2019-06-18 17:35] innostudio commented on #40
@2maxio thank you that you noticed this.

1. __construct returns a value for the class that extends the FileUploader class. E.g:
`$initStatus = parent::__construct();`

2. for the Windows, sometimes it can give an error so we will change it

3. `$this->field['input']['name']` is an unchanged variable

4. we used our own comments to make it readable.

5. thank you. By the way, maybe you don't have

[2019-06-18 17:35] #40 closed

[2019-06-27 12:42] alexandru-tanasie-clarisoft opened #41 "Crop image before confirm on avatar example"
Hi,
Can crop the image before confirm like a "preview"?

[2019-06-27 16:50] innostudio commented on #41
@alexandru-tanasie-clarisoft do you mean to crop the image on the client-side? If yes, use the following example: https://innostudio.de/fileuploader/documentation/examples/image-editor/client-side/

[2019-07-01 19:29] #41 closed

[2019-10-03 12:59] Tiththa opened #42 "Uncaught TypeError: Cannot read property 'getTime' of undefined"
I am using fileuploader plugin for laravel and ajax method.The files are passed and response is okay, but i am getting this `Uncaught TypeError: Cannot read property 'getTime' of undefined` and the files are not saved according to the example in the documentation.

[2019-10-03 13:03] innostudio commented on #42
@Tiththa may I know which version are you using and the line in code that triggers this error?

[2019-10-03 13:18] Tiththa commented on #42
@innostudio  I am using version 2.2 and laravel 5.6 . i am passing the files with upload method ajax call
[code]

and in the controller
[code]
and in the console of my page i am getting this error and image warnings.
[https://ibb.co/wYZp72s](https://ibb.co/wYZp72s)  and the images are getting saved

[2019-10-03 13:38] innostudio commented on #42
@Tiththa can you update the jquery.fileuploader.min.js again?

[2019-10-03 14:10] Tiththa commented on #42
@innostudio  i updated and still the same. It now gives a `TypeError: c is undefined` on firefox.i checked with opera browser it gives the same previous error

[code]
`h=((new Date).getTime()-c.getTime())` with the debugger.

[2019-10-03 14:20] innostudio commented on #42
@Tiththa Please contact us over live chat - https://innostudio.de/fileuploader/documentation/#chatra

[2019-10-03 14:28] Tiththa commented on #42
@innostudio  Thanks will do

[2019-10-06 18:42] #42 closed

[2019-10-19 01:47] jayakaran opened #43 "Maximum File Size"
Is there a theoretical file size limit for a file that is uploaded using this software?

[2019-10-20 11:21] innostudio commented on #43
Sure
https://innostudio.de/fileuploader/documentation/#options-validations

[2019-10-20 11:21] #43 closed

[2019-10-20 12:38] jayakaran commented on #43
I know what the specification says about setting the file. My question is more on a practical side. If I had a 10GB file would this plugin perform the same as it would with a 1GB file? If the 1GB file took a minute would 10 GB take 10 minutes?

[2019-10-20 18:17] innostudio commented on #43
@jayakaran No. The plugin is no that thing that is controlling the performance of upload. This is the server and internet.

[2019-10-20 18:18] innostudio commented on #43
@jayakaran By the way, don't forget to use `upload` option and it's `chunk` setting when uploading such a large file.

https://innostudio.de/fileuploader/documentation/#options-ajax

[2019-10-26 22:27] rabat1313 opened #44 "Problem with file upload on server (multiple instances)"
I have a problem with files upload to server when double use on same page. I use theme: "thumbnails", addMore: true and upload start: true. First uploader load images but doesn't upload to server's directory, second one is OK - everything works. I check consol's logs for onSuccess' results:

`[...]`
`onSuccess: function(result, item) {`
`console.log(result);`
`var data = {};`
`[...]`

and I get in

[2019-10-27 22:55] rabat1313 commented on #44
OK, I see where the problem is... There is a problem with using API twice on same page. Any idea how fix it? Maybe any way to make dynamic API name?

[2019-10-28 08:12] innostudio commented on #44
@rabat1313 are you using the following logic?

1. Inputs
[code]

2. .fileuploader()
[code]

3. API
[code]

[2019-10-28 09:05] rabat1313 commented on #44
I did like you said but same problem. I attach my PHP file, please look.

[https://drive.google.com/open?id=1F1ilTUjdCYboAhOB8s2QJSIOc3ZnkFWY](https://drive.google.com/open?id=1F1ilTUjdCYboAhOB8s2QJSIOc3ZnkFWY)

[2019-10-28 09:25] innostudio commented on #44
@rabat1313 in PHP you also have 2 instances for 2 different uploaders, right?

[code]

[2019-10-28 09:48] rabat1313 commented on #44
No, I use same PHP files (your fileuplader class and upload/delete files) for both instances.

[2019-10-28 09:54] innostudio commented on #44
An instance of `new FileUploader` is used for one `<input type="file">`. So you need 2 instances for 2 different names.

[2019-10-28 10:25] rabat1313 commented on #44
Everything works! Thank you!

[2019-10-28 10:25] #44 closed

[2019-10-28 13:40] rabat1313 opened #45 "Dynamic upload URL"
Is it possible to make dynamic AJAX upload URL (to PHP) which contains the name of input?

[2019-10-31 14:18] innostudio commented on #45
@rabat1313 there are 2 solutions that I would use:

**1. Two inputs, one name, one php**
[code]
[code]
[code]

**2. Two inputs, name over ajax**
[code]
[code]
[code]

[2019-11-01 08:58] #45 closed

[2019-11-13 07:07] danielvloggs opened #46 "Safari Image Editor"
Hello,

when I upload an image with the latest Safari and then open it automatically with the image editor, there is a problem with the editor. See image. Can you look at the problem?

[Image Editor Problem](https://ibb.co/6nf4ymY)

Thanks Daniel

[2019-11-15 23:27] innostudio commented on #46
@danielvloggs thank you for reporting the issue. We are still looking for a solution and will write here as soon as we get it fixed.

[2019-11-16 12:44] innostudio commented on #46
@danielvloggs Good news. Please download fileuploader again and update the file jquery.fileuploader.min.js. The bug should be fixed now.

[2019-11-16 12:44] #46 closed

[2019-11-22 09:07] innostudio commented on #36
The simplest way is following

**HTML:**
[code]

**Custom.js:**
[code]

[2019-11-23 20:54] innostudio commented on #36
@tornako the plugin is now translated in 14 languages. Check it here https://innostudio.de/fileuploader/documentation/#options-captions

[2020-01-28 12:31] ahlvd opened #47 "Can't edit preloaded Images"
When I preload images from our Server use the editor do do any change (or no change at all) and then hit "save" I'll get an error: "Uncaught DOMException: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported.".

I already tried to set `readerCrossOrigin` to `anonymous` but then the Thumbnails will not even load with a "Access to image at '…' (redirected from '

[2020-01-28 12:34] innostudio commented on #47
@ahlvd Thank you for reaching out.

May I see first a structure of one of your preload file? Something like https://innostudio.de/fileuploader/documentation/#options-preload-files

[2020-01-28 12:37] ghost commented on #47
Of course. here you are:
[code]

[2020-01-28 12:39] innostudio commented on #47
@ahlvd `thumbnail` is from another server right? The `readerCrossOrigin` you are putting in the `data` object, right?

[2020-01-28 12:42] ghost commented on #47
Yes: Our server returns a redirect to anther Server for `/media/`URLs.
Yes: `readerCrossOrigin` was in the `data` object.

[2020-01-28 12:43] innostudio commented on #47
@ahlvd and how about readerCrossOrigin?

[2020-01-28 13:16] ghost commented on #47
@innostudio
Yes: readerCrossOrigin was in the data object.

[2020-01-28 19:07] innostudio commented on #47
@ahlvd it seems like your second server is blocking the access.

Put the following code in **.htaccess** in /media/ folder
[code]

[2020-01-29 07:46] ghost commented on #47
Sadly we don't have access to the server n that level because it's part of a CDN. I don't get the point why the image can be loaded initially but fails later. Isn't it possible to prevent the call to `toDataURL`? In this case it is not necessary to manipulate the image on client side.

[2020-01-29 09:34] innostudio commented on #47
@ahlvd this is done for the thumbnails. How do you want to edit the image if you don't have access to that server?

[2020-01-29 10:06] ghost commented on #47
@innostudio The CDN fetches the images from a shared storage where we place the images. So we can upload, delete, manipulate, invalidate cache etc. but I can not edit the Response-Headers of the CDN Servers.
I have tried to provide the preloaded image thumbs as data-urls but that did not solve the problem either.
[code]

[2020-01-29 18:52] innostudio commented on #47
@ahlvd we've made an update. Please download again and replace the jquery.fileuploader.min.js

[2020-01-29 21:25] myrandor commented on #37
Is it possible to use Sorter() out of their input?

Ex: Move an image from "files1" to "files2".

[2020-01-29 22:15] innostudio commented on #37
@myrandor currently no.

[2020-01-30 08:24] ghost commented on #47
@innostudio Good work.
Works just fine now!
Thank you very much.

[2020-01-30 08:24] #47 closed

[2020-01-30 08:25] innostudio commented on #47
@ahlvd Great. Thank you for your feedback.

[2020-01-31 18:37] kaspy003 opened #48 "Gallery pictures upload all together, not one by one"
Gallery pictures upload all together, not one by one, this case a server overload if images ar more than 10, it's should upload one by one!

[2020-01-31 21:01] innostudio commented on #48
@kaspy003 that's strange, because the gallery example is having `upload` option activated (option that is uploading each file one by one over Ajax)

Example:
https://innostudio.de/fileuploader/documentation/examples/gallery/

[2020-02-03 14:06] ahlvd opened #49 "IE11 not loading editor-view"
When using IE11 we cannot open the editor view. I can see the loading spinner (which is not spinning due to the lack of support of animated svg: won't solve) but then nothing happens and I can't exit the situation without reloading the page. There are no messages shown in the console. The network inspector shows successful loading of the image (when editing a preloaded file). But we see the same i

[2020-02-03 14:38] innostudio commented on #49
@ahlvd thank you for reporting the issue.

The problem was that on IE wasn't triggered `onload` callback after cloning the node.

**The problem was fixed** now by forcing the callback. Please update the jquery.fileuploader.min.js.

[2020-02-03 14:44] ghost commented on #49
@innostudio Wow, that was fast.
Works now. Thanks!

[2020-02-03 14:44] #49 closed

[2020-02-04 18:37] innostudio commented on #48
No response.

[2020-02-04 18:37] #48 closed

[2020-02-04 19:46] kaspy003 commented on #48
No, here is sample video about gallery, where all files is uploading simultaneously: https://youtu.be/yZG1Pe8r-rk

And here is how it should, one by one: https://youtu.be/XKd39AASf8A

In first video you can see how all the images are uploaded simultaneously and if the files are large and many, than php can't handle with all requests and will overload the server!

I hope you understand ;)

[2020-02-04 20:29] innostudio commented on #48
@kaspy003 thank you for the videos. This is happening because we are checking the image size. If you don't need this...

Here is the solution:
### 1. replace `onItemShow` and `onImageLoaded`:
[code]

### 2. remove the following part from `beforeSend`:
[code]

[2020-02-05 19:54] kaspy003 commented on #48
Thanks, your solution working great!

[2020-02-18 05:13] cracker182 opened #50 "addMore does not work (for me)"
Dear Team,

I'm facing an issue, which leads to an error regarding `addMore` option.

Config:
[code]

my html-element:
[code]

The first Upload works, but if I want to add more images (with a second click on the button) the File-Explorer opens but not upload is happening.

Maybe you can support me here? (v2.2)
Thanks for your help.

Greetings.

[2020-02-18 10:06] innostudio commented on #50
@cracker182 try to replace the `id="images"` with `class="images"`

[2020-02-18 10:14] cracker182 commented on #50
thanks for your quick reply. but this does not solve the issue :(

` $('.images').fileuploader({//----})`
` <input type="file" class="images" name="images[]">`

Thanks :)

[2020-02-18 14:09] innostudio commented on #50
@cracker182 ok, but you forgot also to modify your changes in afterRender. `changeInput` is also not our original code.

[2020-02-18 16:06] cracker182 commented on #50
Thanks to your help i was able to correct the config.
Now it works like charm.
Thank you very much and have a nice day.

Greetings

[2020-02-18 16:06] #50 closed

[2020-02-20 15:13] mrhieuit opened #51 "How to enter optional title for each file and send all (file + title pair) to server when submit?"
![2020-02-20_21-28-47](https://user-images.githubusercontent.com/17003983/74947325-41a7d100-542d-11ea-9d11-cc67fd59a31b.jpg)

[2020-02-22 12:28] innostudio commented on #51
@mrhieuit Hello.

1. Add the input in thumbnails option: `item` and `item2`
`<input type="text" name="optional_title">`
https://innostudio.de/fileuploader/documentation/#options-templates

2. Enable API using `enableApi: true`
https://innostudio.de/fileuploader/documentation/#api

3. Bind the text input to each file when submitting the form
[code]

4. Get the optional_title using PHP
[code]

[2020-02-22 13:22] mrhieuit commented on #51
Hello @innostudio,
Thanks for your answer. I believe your answer was very detailed.

Could you please get the optional_title using ASP.NET webform?

[2020-02-22 13:31] innostudio commented on #51
@mrhieuit in step 4 just replace the code with `fileUploader.GetFileList()`

[2020-02-22 15:52] mrhieuit commented on #51
You helped me save time. Many thanks!

[2020-02-22 15:52] #51 closed

[2020-03-20 05:53] mzhossain opened #52 "How to use multiple size in Gallery ajax.php"

[2020-03-20 05:55] mzhossain commented on #52
`
![image](https://user-images.githubusercontent.com/9637958/77139767-7d23d280-6aa1-11ea-8fae-13751a047198.png)
`
This is the code i tried to copy and change variablenames. It works only if i disable one instance. How to run 2 instance for same input field?

[2020-03-20 05:55] mzhossain commented on #52
Incase if the image os not showing...here is the code

[code]

[2020-03-20 07:15] innostudio commented on #52
Using ::resize method
https://innostudio.de/fileuploader/documentation/#php

[2020-03-20 07:15] #52 closed

[2020-05-05 06:09] mertasan opened #53 "PHP - exif_read_data() condition in the resize() method"
would you add the exif_imagetype() condition in PHP **FileUploader::resize()** method?

my XDebug is ignoring the @ operator.

      $exif = function_exists('exif_read_data') ? @exif_read_data($filename) : array();

instead of:

      $exif = function_exists('exif_read_data') && in_array(exif_imagetype($filename), array(2,7,8)) ? @exif_read_data($filename) : array();

<img width="794" alt="Ekran R

[2020-05-10 18:02] mrhieuit opened #54 "How to set multi ratio size on multi instance of fileuploader on a page"
I have a page with multi instance of fileuploader on the page. How I set ratio size for each instance of fileuploader on this page.

For example:

- Fileuploader 1: upload avatar image with default ratio size is: 1 x 1.
- Fileuploader 2: upload cover image with default ratio size is: 16 x 9.

And allow the user to crop the image again by dragging the crop area. Keep the default aspect ratio size s

[2020-05-15 18:10] mrhieuit commented on #54
Hi @innostudio, are there any solutions to this problem?
I'm using Asp.Net Webform. Please help me. Best regards!

[2020-05-16 11:35] innostudio commented on #54
@mrhieuit here is a way how you can do that:

1. using `.each()` jQuery method
[code]
[code]

[2020-05-16 11:35] #36 closed

[2020-05-16 15:30] mrhieuit commented on #54
I got it. Thank you so much

[2020-05-16 15:30] #54 closed

[2020-06-23 09:19] pelkas opened #55 "Avatar file route problem in Symfony 5"
Hi, I can't generate thumbnail for uploaded avatar when route of page has more elements than one.

This is my data-fileuploader-files value: [{"file":"uploads/horse_profile_pictures/survey-5ef1bf5c254df.jpeg"}]

When the route is: localhost/avatar, then works fine

but when the route is: localhost/avatar/username,
then script try to find file in:

localhost/**avatar**/uploads/horse_profile_picture

[2020-06-26 09:59] gienq opened #56 "Unexpected EOF for JSON Parse"
Hey, I'm implementing FileUploader for my private, personal site based on CodeIgniter Framework and I'm getting error:
`JSON Parse error: Unexpected EOF`
in this line of my script:
[code]
but the file uploads itself and as a response from backend I have:
[code]
So the JSON response is valid. Why do I get EOF error?

[2020-06-26 10:10] gienq commented on #56
Oops I forgot to make response in PHP backend. It's working.

[2020-06-26 10:10] #56 closed

[2020-06-26 21:43] innostudio commented on #55
Hello, try to change the `file` attribute and put a public url and `local` attribute as information for backend. Here is an example:

[code]

[2020-06-27 04:47] quanghn96 opened #57 "Can't send custom data with image each time selecting a photo"
I want to set unique value each time user select new image, but it always get them same value every time.

[2020-06-28 14:32] lander16 opened #58 "The image uploaded is the original image, not the edited one."
I'm using the uploader on a form, do I need to do something in the onSave callback of the editor in order for the form to upload the edited image? I'm getting the original one instead of the edited one.

Thanks

[2020-06-28 15:35] innostudio commented on #57
@quanghn96 use `beforeSend` https://innostudio.de/fileuploader/documentation/#options-ajax

[code]

[2020-06-28 15:35] #57 closed

[2020-06-28 15:37] innostudio commented on #58
@lander16 if you are not using our class on backend, the client-side example is required

https://innostudio.de/fileuploader/documentation/examples/image-editor/client-side/js/custom.js

[2020-06-28 15:37] #55 closed

[2020-06-29 13:13] lander16 commented on #58
Thanks for the prompt reply, I see that the client example uses ajax for the file upload, I want to do it on a form, but it seems that deleting/appending data to the form as it's done in the upload method of the example is not available outside of the beforeSend callback. Anyway to implement this without ajax?

[2020-06-30 14:31] Yvan-C opened #59 "Captions Options Still working ?"
Hi i'm about to use the fileuploader plugin in a multi language website,
I saw that captions can be translated but It seems to not be working with me,

Here is my instance :

[code]
Do I have set the translation options wrong or do i need to go for the full translations method (create the object and replace one by one the captions used )

Sorry for bad english and thanks for your time.

[2020-06-30 14:40] innostudio commented on #59
@Yvan-C which version do you have?

[2020-06-30 14:41] innostudio commented on #58
@lander16 unfortunately no. There is no way to manipulate input element using JavaScript.

[2020-06-30 14:41] #58 closed

[2020-06-30 14:45] Yvan-C commented on #59
Thanks for the fast reply i currently have the 2.2 version of fileuploader

[2020-06-30 14:47] Yvan-C commented on #59
Actually is a version from 2019

Version: 2.2 (01-Apr-2019)

[2020-07-01 08:51] Yvan-C commented on #59
I figured it out it seems i have download the free version ;) !
Thank you

[2020-07-01 08:51] #59 closed

[2020-07-02 07:10] lander16 opened #60 "Can I change the ratio of the editor dynamically?"
Hi I want to change the ratio of the editor whenever the image is rotated, can this be done?
I tried with the callback in thumbnails with
item.popup.html.on('click', '[data-action="rotate-cw"]', function(e) {

and then setting

item.editor.cropper.ratio

but doesn't work, seems like the editor doesn't hold this property.

Any way to achieve this?

Thanks,

[2020-07-05 06:43] vmnascente opened #61 "Como criar várias miniaturas ao fazer upload"
Como criar várias miniaturas ao realizar upload com o tema de galeria

[2020-07-22 08:56] #60 closed

[2020-07-22 09:01] lander16 opened #62 "Cropper broken on latest Chrome version (84)"
I just updated to version 84 of Chrome and the cropper is broken when I open it on the onFileRead callback, I do this:

[code]

This worked fine until this update, now the cropper opens but it doesn't match the background image, it shows like in the image below:

<img width="958" alt="Screenshot 2020-07-22 at 11 00 17" src="https://user-images.githubusercontent.com/359580/88157090-97fe8300-cc0a-11

[2020-07-22 09:02] lander16 commented on #62
Forgot to mention that if I don't do `item.editor.cropper();` and then open it clicking the button, it works fine.

[2020-07-22 09:30] lander16 commented on #62
Seems to have to do with positioning of the image, trying [the client side example](https://innostudio.de/fileuploader/documentation/examples/image-editor/client-side/) in Chrome 84 vs Safari I see:

Safari:

<img width="1007" alt="sc" src="https://user-images.githubusercontent.com/359580/88160282-bb2b3180-cc0e-11ea-8cda-dbf000fa2a94.png">

Chrome

<img width="1007" alt="chrome" src="https://user-

[2020-07-22 12:18] innostudio commented on #62
Working... There is something with display: flex, the popup will need to be written again, because the old logic doesn't work anymore for Chrome 84

[2020-07-22 12:32] innostudio commented on #62
@lander16 a really quick solution that works on Chrome 84, Windows, is:

[code]

I will to investigate what was changed in the new version and I why changing the direction is so important. I will get back with updates.

[2020-07-22 22:46] lander16 commented on #62
@innostudio Thanks, that does work, looking forward to your comments on this.

[2020-08-04 13:26] miedzikd opened #63 "React component without jQuery"
There is a plan to create react component without jquery?

[2020-08-04 14:27] innostudio commented on #63
@miedzikd Hello, thank you for your message. Yes, it is planned a new version without jQuery this August. I will get back here as soon as there will be a new release.

[2020-08-26 15:28] SlayerOfTheBad opened #64 "Image List doesn't remove deleted image (iOS)"
Found a bug when deleting images.
If the request to the server takes longer than 10 seconds, the image list isn't updated properly on iOS/safari. This made our sorting throw errors. This seems to only affect iOS/safari, firefox and chrome did update properly.

[2020-09-01 11:20] miedzikd commented on #63
@innostudio any updates? :)

[2020-09-29 12:58] Onore opened #65 "Some bugs then user use Drag & Drop"
Hi.

I use the fileuploader with PHP Form Builder.

It is **only** if I put file using **Drag & Drop**.

Bugs
1. https://prnt.sc/uomodj
2. https://prnt.sc/unrnu4

I can receate it on https://innostudio.de/fileuploader/documentation/#examples
Because the examples does not have any restiction/validation :(

[2020-09-30 17:39] innostudio commented on #65
@Onore Hi.

You are doing the validation in JavaScript or in PHP?
can you paste here also the configuration code?

[2020-10-26 19:46] miedzikd commented on #63
Hello @innostudio ... Do you have any good news to share? :)

[2020-10-31 16:35] wrabit commented on #63
Just discovered the plugin, feature wise and default design - it's one of the best uploaders I have come across, came here just to see if there was a non-jquery version as for me, it's going to be a tough sale, would love to see vanilla version!

[2020-11-02 09:49] wrabit opened #66 "Array provided to 'preload' is reversed in rendered output"
My payload given to 'preload' is:

(renamed to my order column value for debugging)

[code]

And the default output is:

![image](https://user-images.githubusercontent.com/5918271/97853495-7710f800-1cf8-11eb-9188-0a793e119b85.png)

My preload code:

[code]

Console.log outputs:

![image](https://user-images.githubusercontent.com/5918271/97853809-e850ab00-1cf8-11eb-8f7f-8dcad6ec8af8.png)

Is this b

[2020-11-17 10:48] wrabit commented on #66
I can understand the lack of response on an opensource package, but I paid for this, also email sent to your company and no response. Warning to potentional buyers. Support level -2000

[2020-11-17 15:05] innostudio commented on #63
Still working on it...

[2020-11-17 15:07] innostudio commented on #66
@wrabit sorry for such a late answer. In custom.js you will find the option `itemPrepend`, set it false. Or you can reverse the array before preloading the files.

https://innostudio.de/fileuploader/documentation/#options-templates

[2020-11-18 14:55] #66 closed

[2021-01-08 18:20] AFMW opened #67 "Data array with duplicated items"
When Im doing the request to the server the plugin is sending duplicated items of the Images array.
For example: If i upload 3 images the plugin is sending those 3 images duplicated to the server.

**This is the server response:**
[code]

**JS implementation of the plugin:**
[code]

**JS form submit:**

[code]

[2021-02-04 14:02] alvaroforti opened #68 "Resize"
How do I leave the width and height of the avatar example fixed? and also how do I disable the avatar editor box resize?

[2021-02-09 11:25] Onore commented on #65
I have used it as a component of PHPFormBuilder

[2021-02-09 11:25] #65 closed

[2021-03-17 16:46] pobegov opened #69 "Exif problem when uploading directly from camera on phones"
Thank you for a brilliant library, however it has a "bug" which is also reproducible on your examples:

Open this example with a mobile device:

https://innostudio.de/fileuploader/documentation/examples/thumbnails/

then add a new image > choose to make a photo right away with the mobile device > make the picture Vertically (as usual with phones)

you will see that the thumbnail is then rendered h

[2021-04-10 18:30] localota-travel commented on #62
I am getting this problem on the most recent version and the flex-direction suggestion does not work for me. If I close the editor and then re-open it on the same file (without re-uploading), the problem resolves itself and can be used properly.

Is there another workaround for this or a fix coming?

[2021-04-14 12:47] ahlvd opened #70 "onFilesCheck asnychronous?"
I'm encountering the problem that I have to check the length (in seconds) of a video file before upload. Sadly this is an asynchronous task, thus waiting for a callback. As far as I understand, the onFilesCheck Callback only allows for returning a boolean value. Is there any build-in possibility to pass back a Promise or callback?

Example (does actually not work, because it does not return boolea

[2021-04-14 18:42] onesideat commented on #70
@ahlvd in the current version it is not possible. The only way will be (if you are using ajax mode) to set `start: false` and in `onSelect` to do the check. If the duration is ok, just to call `item.upload.send();`

[2021-04-15 06:46] ghost commented on #70
Nice workaround. Thanks.

[2021-04-15 06:46] #70 closed

[2021-05-27 11:55] DiegoWtf opened #71 "Heic format conversion via heic2any"
Hi.
Has anyone done such a feature? Can you share a working code?
https://github.com/alexcorvi/heic2any

[2021-06-07 17:54] #53 closed

[2021-09-01 10:02] Reinaldorelevance opened #72 "FileUpload React component isnt working"
i have a issue with my React app, so many components doesnt load the jquery fileuploader and just throw a syntax error.

i just follow the thrid party examples and theres a image
![image](https://user-images.githubusercontent.com/89909893/131652520-04665354-54c8-45c7-a517-60812e0085af.png)

[2021-09-21 15:50] thedustin opened #73 "Use exclamation-comments for license info"
Hey,

while debugging I noticed that you don't use "exclamation-comments" for your license information at the start of the file.
Exclamation comments are comments which start with an exclamation mark like this:

— from jQuery v3.6.0, https://code.jquery.com/jquery-3.6.0.min.js

This is more or less a convention to tell preprocessors/minifiers to NOT remove these comments, as these are copyright/li

[2021-10-09 14:03] fagnerao opened #74 "Gallery by Id's"
I would like to add  a "data-id-page" on input file and save it at database the gallery.
On this way I can do galleries by pages.

[2021-10-10 12:44] fagnerao commented on #74
beforeSend: function(item) {
    item.upload.data.page_id = $(...).attr('data-page-id')
}

[2021-10-10 12:56] #74 closed

[2022-01-12 16:25] jonitopsg opened #75 "fileMaxSize options"
Hi,

Your option 'fileMaxSize' is MB.

There is a possibility to define the option under 1MB?

Thank you.

[2022-01-13 09:10] milestorm opened #76 "Uploading files in Safari with accented characters not working"
Uploading files with filename, that uses accented characters like `ě, š, č, ř, ž, ý, á, í, é ...` is not working in Safari on MacOS, because of different normalization of UTF-8 characters in $_FILES and in $_POST and PHP does not match this.

When fileuploader compares the filename if is in the list, which came from $_POST field, in Safari is not true, so no uploading will happen.

The solution is

[2022-01-28 21:49] onesideat commented on #76
@milestorm thank you for your advice! It will be fixed in the next update.

P.S. please send me an email to contact@oneside.at with your PayPal account so that I could buy you a coffee.

[2022-01-28 21:49] onesideat commented on #75
@jonitopsg did you try using 0.5?

[2022-01-28 21:51] onesideat commented on #72
@Reinaldorelevance Is the jquery.fileuploader.min.js returning a 404 page? Can you open the file in a new tab (by clicking on jquery.fileuploader.min.js)?

[2022-01-28 21:56] onesideat commented on #68
@alvaroforti unfortunately you can't set a width and height. You can only disable the editor by setting `editor: false`
https://innostudio.de/fileuploader/documentation/#options-image-editor

[2022-01-28 22:06] onesideat commented on #67
@AFMW instead of `addMore: true`, set `upload: true`

[2022-03-22 14:21] jonitopsg commented on #75
Hi @onesideat.

Thank you for your reply but it's not working.

I tested like this: fileMaxSize: 0.5 and like this fileMaxSize: '0.5' but when I load a file bigger or smaller than the allowed size it always shows me the error message.

[2022-05-10 20:14] mmurua98 opened #77 "How can I remove blank spaces in the image name or how can I rename it?"

[2022-05-12 10:33] EBakirdinov commented on #71
@DiegoWtf doing such stuff right now, did almost everything except replacing heic image by jpeg (converting to it) and saving, have u succeed? Wanna just get some advices...

[2022-05-13 07:39] EBakirdinov commented on #71
Managed to fix all the issues, here is my code.

[code]
"FileNameFull" var is the name of the file with !!HEIC extension!!

FileUploader has callback "beforeSelect", there i call heic2any function. If u want to add some loader u need "onSelect" callback.

[code]

[2022-05-13 07:44] EBakirdinov commented on #71
@innostudio i think we can close this issue :)

[2022-05-31 18:43] lenamtl opened #78 "[Question] PHP 8?"
Hi,

does the PHP classes are compatibles with PHP 8?

Thanks

[2022-08-01 12:43] pobegov commented on #69
I'd be more than happy to pay to get this issue resolved, please advise if this is possible!